[Unit]
Description=YSU campus network keeper
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/local/bin/ysunethelper -config /etc/ysunethelper/config.json daemon
Restart=on-failure
RestartSec=5
RestartPreventExitStatus=78

[Install]
WantedBy=multi-user.target